body {
  background-color: #f2f2f2;
}

.login-container {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 20px 20px 20px 30px;
  margin: 50px auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
  text-align: center;
  color: #ffd700;
}

.login-container form {
  margin-top: 20px;
}

.login-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  margin: auto;
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.login-container button[type="submit"] {
  width: 95%;
  padding: 10px;
  background-color: #ffd700;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.login-container button[type="submit"]:hover {
  background-color: #ffcc00;
}
